<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Site{% endblock %}</title>

    <meta
        name="description"
        content="{% block description %}Tecnologia e soluções para o seu sono.{% endblock %}"
    >
</head>

<body>

    {% include "components/header.html" %}


    <main>
        {% block content %}
        {% endblock %}
    </main>


    <footer>

        <p>
            {% include "components/footer.html" %}
        </p>

    </footer>

</body>

</html>