{% extends "base/base.html" %}


{% block title %}
Produtos | Site
{% endblock %}


{% block description %}
Conheça os nossos produtos e encontre a solução adequada para suas necessidades.
{% endblock %}


{% block content %}

<article>

    <header>
        <p>PRODUTOS</p>

        <h1>
            Conheça nossos produtos
        </h1>

        <p>
            A nossa linha de produtos será apresentada nesta área.
        </p>
    </header>


    <section aria-labelledby="products-title">

        <h2 id="products-title">
            Nossa linha
        </h2>

        <p>
            Informações sobre categorias e produtos serão
            disponibilizadas aqui.
        </p>

    </section>

</article>

{% endblock %}
